.product {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 250px;

  .image-button {
    border: none;
    outline: none;
    display: inline-block;
    background: none;
    cursor: pointer;
  }

  img {
    height: 200px;
    width: 200;
  }

  .product-title {
    margin: 5px 0;
    letter-spacing: 1px;
  }

  .product-description {
    text-align: center;
    padding: 10px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    line-height: 1.4;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }

  .product-price {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .product-sizes {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

    li {
      background-color: #795548;
      color: #fff;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .product-button {
    margin-bottom: 10px;
    background-color: #0d47a1;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    width: 80%;
  }
}

.product-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  img {
    grid-column: 1/2;
  }

  .info {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info-title {
      text-align: center;
      margin-bottom: 15px;
      padding-bottom: 10px;
      font-size: 1.4rem;
      letter-spacing: 0.9px;
      border-bottom: 1px solid #ccc;
    }

    .info-description {
      font-size: 1.2rem;
      color: #222;
      line-height: 1.6;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }

    .info-sizes {
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
      font-weight: 0.9rem;
    }

    .info-price {
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;
      padding-top: 15px;
      margin-bottom: 25px;
    }

    .info-button {
      margin-bottom: 10px;
      background-color: #0d47a1;
      border: none;
      outline: none;
      padding: 5px 10px;
      color: #fff;
      cursor: pointer;
    }
  }
}
